*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d3d3d3;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

/* header */

header{
    background-color: #fff;
    padding: 5px 20px;
    margin-bottom: 50px;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

#header-text{
    display: inline;
    font-size: 2.5rem;
    font-weight: 800;
    vertical-align: middle;
}

/* button bar */

.button-bar{
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2px;   
}

.button-bar button{
    padding: 5px 10px;
    border-radius: 5px;   
}

.button-add-task{
    background-color: #1e90ff;
    color: white;
    border: 1px solid #1e90ff;
}

.button-add-section{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

/* tasks section */

.tasks-section{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.tasks-title{
    font-size: 20px;
    padding-top: 30px;
}

.tasks-title-arrow{
    font-size: 0.8em;
}

.task-list{
    font-size: 0.9em;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;    
}

.task-entry{
    padding-top: 20px;
    line-height: 20px;
}

.completed:after{
    content: "\2713";
}

.completed{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
}

.task-type{
    display: inline-block;
    border-radius: 20px;
    padding: 2px 8px;
    color: white;
    font-size: 0.7em;
}

.editorial{
    background-color: #45abea;
}