*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d3d3d3;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

a{
    text-decoration: none;
}

/* header */

header{
    background-color: #fff;
    padding: 5px 20px;
    margin-bottom: 40px;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

#header-text{
    display: inline;
    font-size: 2.5rem;
    font-weight: 800;
    vertical-align: middle;
    color: black;
}


/* button bar */

.button-bar{
    padding: 10px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;   
}

.button-bar button{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;   
}

.button-add-task{
    background-color: #1e90ff;
    color: white;
    border: 1px solid #1e90ff;
}

.button-add-section{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.button-add-section:active{
    padding: 4px 9px;
    margin-left: 1px;
}

.button-add-task:active{
    padding: 4px 9px;
    margin: 0 1px
}

/* tasks section */
.tasks-section{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 30px;
    font-size: 23px;
}

/* task title */
.tasks-title{
    font-size: 1em;
    padding-top: 40px;
}

/* arrow has a pointer because we should click it
to collapse/extend list */
.tasks-title-arrow{
    cursor: pointer;
}

/* task entries */
.task-list{
    font-size: 0.8em;
    padding: 0;
    list-style-type: none;    
}

.task-entry{
    margin-top: 25px;
    line-height: 15px;
    font-size: 0.9em;
}

/* checkmarks "logic" */

.tasks-checkmark{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7em;
    vertical-align: top;
}

/* i used class:after so that i only need to change the class
and it will automatically update the check/cross */

.completed:after{
    content: "\2713";
}

.completed{
    color: green;
    border: 1px solid green;
}

.not-completed:after{
    content: "\2717";
}

/* not-completed task have a pointer to pretend they are 
clickable to change them to completed tasks */

.not-completed{
    color: red;
    border: 1px solid red;
    cursor: pointer;   
}


/* list of all task types */
.task-type{
    display: inline-block;
    border-radius: 20px;
    padding: 3px 10px;
    color: white;
    font-size: 0.65em;
}

.editorial{
    background-color: #45abea;
}

.editorial:after{
    content: "Editorial";
}

/* using after so that to modify the task type you only
need to change class, no need to change class AND text in html */

.q1-goals{
    background-color: #9c72e4;
}

.q1-goals:after{
    content: "Q1-Goals";
}

.recruiting{
    background-color: #64c0a9;
}

.recruiting:after{
    content: "Recruiting";
}

.mobile{
    background-color: #f29e33;
}

.mobile:after{
    content: "Mobile";
}

.website{
    background-color: #d863a1;
}

.website:after{
    content: "Website"
}

.sales{
    background-color: #b0c926;
}

.sales:after{
    content: "Sales";
}

/* since the last task-type is editorial but orange
instead of blue this is needed to make it orange */

/* .task-entry is needed to increase specificity 
and override editorial blue blackground even if
the selector is moved up on the file */

.task-entry .orange-special{
    background-color: #f29e33;
}