*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d3d3d3;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

/* header */

header{
    background-color: #fff;
    padding: 5px 20px;
    margin-bottom: 50px;
}

#logo{
    height: 50px;
}

#header-text{
    display: inline;
    font-size: 2.5rem;
    font-weight: 800;
}

/* button bar */

.button-bar{
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2px;   
}

.button-bar button{
    padding: 5px 10px;
    border-radius: 5px;   
}

.button-add-task{
    background-color: #1e90ff;
    color: white;
    border: 1px solid #1e90ff;
}

.button-add-section{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}


